<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <!--Link to the homepage-->
            <a class="navbar-brand" href="homepage.html" th:href="@{homepage}">Wilderness Stations</a>
            <!--responsive button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Other links-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="charts.html" th:href="@{charts}">Charts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addStationForm.html" th:href="@{addStation}">Add station</a>
                    </li>
                </ul>
                <!--Search station-->
                <form class="d-flex" action="searchstation" th:action="@{searchstation}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search station" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>